{{#if logged_in}}
<section>
    <a href="/post">Add a new post</a>
</section>

{{/if}}

{{#each posts as |post|}}

<article class="post-card">
    <header class="card-header">
        <span class="username">{{post.user.username}}</span>
        <h2 class="title">{{post.post_title}}</h2>
    </header>

    <section class="card-content">
        <p>{{post.post_content}}</p>
    </section>

    <footer class="card-footer">
        <time datetime="{{post.date_created}}">
            Posted on: {{format_date post.date_created}}
        </time>
    </footer>
</article>


{{/each}}